.loader {
  position: relative;
  transform: scale(0.9);
  border-radius: 50%;
  border: 3px solid;
  width: 30px;
  height: 30px;
  color: white;
}

.loader::after {
  position: absolute;
  width: 0px;
  height: 10px;
  display: block;
  border-left: 2px solid #fff;
  content: '';
  left: 11.5px;
  border-radius: 2px;
  top: 2.5px;
  animation-duration: 1.5s;
}

.loader::before {
  position: absolute;
  width: 0px;
  height: 10px;
  display: block;
  border-left: 2px solid #fff;
  content: '';
  left: 11.5px;
  border-radius: 2px;
  top: 2.5px;
  animation-duration: 30s;
}

.loader::before,.loader::after {
  transform-origin: bottom;
  animation-name: dial;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

@keyframes dial {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}
